# =========================
# Build & Output
# =========================
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Maven Wrapper
# =========================
.mvn/wrapper/maven-wrapper.jar

# Maven release backup files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Compiled class files
*.class

# Packaged files
*.jar
*.war
*.ear

# Logs
*.log

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# =========================
# Eclipse / STS
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Junk Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Backup files
# =========================
*~
